/* General */   

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    background: #3F585D;
    font-size: 220%;
    line-height: 1.25;
}

@media only screen and (min-width: 800px) {
body { font-size:150%;}
}

/* Title information */
.title_container{
    position: absolute;
    top: 3%;
    left: 3%;
}

h1, p{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.future
{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    font-size: 140%;
}

/* icons */

.ion {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
    
/* Steps & Contacts */

.steps_container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -330px;
    width: 660px;
    height: 200px;
    vertical-align: middle;
}


.contacts_container{
    position: fixed;
    bottom: 3%;
    right: 3%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.step {
    display: inline-block;
    line-height: 1;
    position: relative;
    width: 20%;
    margin-right: 35px;
    font-size: 400%;
}

.step i, contact i {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.contact i{
    color: white;  
    padding: 10px;
    font-size: 200%;
}

.step:last-of-type, .contact:last-of-type {
    margin-right: 0px;
}    
    
.person_step{
  color: #EC5A5A;
}

.microphone_step{
 color: #EBF595;
}

.build_step{
  color: #71D3E2;
}

.repeat_step{
    color: #9B83C1;    
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}