/* General */   

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #3F585D;
}

/* Title information */
.title_container{
    position: absolute;
    top: 3%;
    left: 3%;
}

h1{
    color: white;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

p{
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* icons */

.ion {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
    
/* Steps & Contacts */

.steps_container{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -300px;
    width: 600px;
    height: 150px;
}


.contacts_container{
    position: fixed;
    bottom: 3%;
    right: 3%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.step {
    display: inline-block;
    line-height: 1;
    position: relative;
    width: 20%;
    margin-right: 35px;
    font-size: 150px
}

.step i, contact i {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.contact i{
    color: white;  
    padding: 15px;
    font-size: 40px;
}

.step:last-of-type, .contact:last-of-type {
    margin-right: 0px;
}    
    
.person_step{
  color: #EC5A5A;
}

.microphone_step{
 color: #EBF595;
}

.build_step{
  color: #71D3E2;
}

.repeat_step{
    color: #9B83C1;    
}
      