:root {
    --standard: white;
    --highlight: #50E1CD;
    --background: #1B9C8A;
}

/* overrides bootstrap */
body { background: var(--background) !important; }

.buttons {
    text-align: right;
}

.button {
    background-color: transparent;
    border-color: var(--standard);
    border-style: solid;
    border-width: 0.05em;
    color: var(--standard);
    font-size: 2.5em;
    height: max-content;
    margin: 10pt 0.05em;
    padding: 0.2em;
}

i:hover {
  background-color: var(--highlight);
  color:var(--standard);
}

i:after {
    background-color: var(--background);
    color:var(--highlight);
}

.title {
    color: var(--standard);
    font-family: 'Space Mono', monospace;
    font-size: 5em;
    font-weight: bold;
    margin-left: 5vw;
    margin-right: 5vw;
}

.icon {
    max-width: 30vw;
    max-height: 30vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 7vh;
}

@media only screen and (max-width: 1280px) { 
    .icon {
        max-width: 35vw;
        max-height: 35vw;
    }
    .button {
        font-size: 2.5em;
    }
    .title {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 1280px) and (max-height: 950px) { 
    .icon {
        max-width: 35vw;
        max-height: 35vw;
    }
    .button {
        font-size: 2.5em;
    }
    .title {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 991.98px) { 
    .icon {
        max-width: 100%;
        max-height: 100%;
    }
    .button {
        font-size: 2em;
    }
    .title {
        font-size: 3em;
    }
}

@media only screen and (max-width: 991.98px) and (max-height: 500px)  { 
    .icon {
        max-width: 30%;
        max-height: 30%;
    }
    .title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 725px) and (max-height: 525px){
    /* .icon {
        max-width: 2vw;
        max-height: 10vw;
    } */
    .title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 540px) and (max-height: 720px)  {
    .button {
        font-size: 2em;
    }
    .title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 700px) and (max-height: 300px)  {
    .icon {
        max-width: 15vw;
        max-height: 15vw;
    }
    .button {
        font-size: 2em;
    }
    .title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 360px) {
    .button {
        font-size: 1.5em;
    }
    .title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 360px) {
    .button {
        font-size: 1.5em;
    }
    .title {
        font-size: 2em;
    }
}
