:root {
    --standard: white;
    --accent: black;
}

.buttons {
    position:absolute;
    top: 1vw;
    right: 1vw;
    overflow: hidden;
}

i {
    padding: 0.2em;
    margin: 0.3em ;
    border: 2pt;
    border-color: var(--accent);
    border-style: solid;
    float: left;
    margin: 0.2em ;
    font-size: 2.5em;
    color: var(--accent);
    background-color: var(--standard);
    height: max-content;
}

i:hover {
  background-color: var(--accent);
  color:var(--standard);
}

i:after {
    background-color: var(--standard);
    color:var(--accent);
}

.title { 
    min-height: 100vh;
    min-width: 85vw;
    max-width: 85vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    font-family: 'Space Mono', monospace;
    font-size: 3.5em;
}

@media screen and (max-width: 600px) {

    div.buttons {
        font-size: 0.75em;
        padding: 0.1em;
    }

    .title {
        font-size: 5vh;
    }
} 

@media screen and (max-width: 350px) {

    div.buttons {
        font-size: 0.55em;
        padding: 0.1em;
    }

    .title {
        font-size: 4.5vh;
    }
} 
